# ─────────────────────────────────────────
# Python
# ─────────────────────────────────────────
__pycache__/
*.py[cod]
*.so
.coverage

# ─────────────────────────────────────────
# Jupyter
# ─────────────────────────────────────────
.ipynb_checkpoints/

# ─────────────────────────────────────────
# Logs
# ─────────────────────────────────────────
*.log
*.debug
debug.log

# ─────────────────────────────────────────
# SLURM / HPC
# ─────────────────────────────────────────
slurm*

# ─────────────────────────────────────────
# Local / temp
# ─────────────────────────────────────────
*.tmp
*.swp
*~
# ─────────────────────────────────────────
# Documentation
# ─────────────────────────────────────────
docs/_build
